:root {
  font-size: 10px;
  @include media-breakpoint-down(lg) {
    font-size: 8px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: $bg-color;
  color: $secondary-color;
  line-height: 1.6;
  font-weight: 300;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $secondary-color;
  background-color: transparent;
}

h1,
h2,
p,
a {
  font-weight: 300;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #fff;
}

.img-container {
  padding: 15px;
}

main {
  flex: auto;
}

button, input, label, select {
  @include button();
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-family: 'Inter', sans-serif;
}

input[type=text] {
  background-color: $bg-color;
  border-bottom: 1px solid $secondary-color;
  width: 100%;
  height: 2rem;
  padding: 5px;
  cursor: text;
  text-transform: inherit;
  transition: 0.3s ease-in;

  &:focus {
    border-bottom: 2px solid $primary-color;
  }

  &:hover {
    background-color: $btn-color;
    border-bottom: 2px solid $primary-color;
  }
}

.btn-item {
  background-color: $btn-color;
  border-radius: 5px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $primary-color;
  }
}

.btn-cart {
  width: 24px;
  height: 24px;
  background-color: $bg-color;
  border: 1.2px solid $secondary-color;

  border-radius: 50%;
  text-align: center;

  &:hover {
    background-color: $primary-color;
    bottom: 0;
  }

  @include media-breakpoint-down(xlm) {
    display: block !important;
  }
}

.btn {
  padding: 10px;
  background-color: $primary-color;
  border-radius: 4px;
  &:hover {
    background-color: $btn-color;
  }
}

hr {
  background: #000000;
  opacity: 0.1;
  height: 1px;
  width: 100%;
}

.menu-link {
  &:hover {
    background-color: $primary-color;
    color: $btn-color;
    transition: color 0.2s ease-in-out;
  }
}


