.ti {
  text-transform: inherit;
}

/*weight*/
.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f600 {
  font-weight: 600;
}


/* Text sizes */
.t10 {
  font-size: 1rem;
}

.t12 {
  font-size: 1.2rem;
}

.t14 {
  font-size: 1.4rem;
}

.t16 {
  font-size: 1.6rem;
}

.t20 {
  font-size: 2rem;
}

.t30 {
  font-size: 3rem;
}

.t72 {
  font-size: 7.2rem;
}


